@import "../../styles/root";

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: $white;
    position: fixed;
    top: 6.25rem;
    right: 1.25rem;
    width: 20rem;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.25rem 0.75rem;
    cursor: default;
    max-height: 90vh;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.25rem;
        text-align: center;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .userInfo {
        padding-top: 1rem;
        color: rgba(0, 0, 0, 0.5);

        .bold {
            font-weight: 700;
            color: #000;
        }
    }

    .loginCode {
        padding-top: 1rem;
        text-align: center;
    }

    h1 {
        padding: 0.5rem 0 1rem;
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
    }

    &.center {
        position: static;
    }

    &.elevated {
        max-height: calc(100vh - 9rem);
    }

    .darkFont {
        color: $gunmetal;
    }

    & > form {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        overflow: auto;
    }

    .actions {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        .cancel {
            flex: 1;
            height: 2.25rem;
            background-color: #eaeef4;
            color: $gunmetal;
            border-radius: 0.5rem;
            border: none;
            font-family: Inter;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: #dbdfe5;
            }
        }

        .submit {
            flex: 1;
            width: auto;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-shrink: 1;
    }

    .label {
        font-size: 0.875rem;
    }

    .colors {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .list {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            .color {
                height: 2rem;
                width: 2rem;
                padding: 0.375rem;
                border-radius: 100%;
                box-shadow: hsla(0, 0%, 0%, 0.5) 0 2px 0.25rem;
                transition: padding 0.1s ease-in;
                cursor: pointer;

                &.activeColor {
                    transition: padding 0.2s ease-in;
                    padding: 0.125rem;
                }

                & > div {
                    border-radius: 100%;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .field {
        label {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            input {
                font-size: 1rem;
                width: 100%;
                outline: none;
                font-family: Inter;
                height: 2.75rem;
                padding: 0rem 0.5rem;
                border-radius: 0.5rem;
                border: 1px solid #dbdfe5;
            }
        }
    }

    .submit {
        width: 100%;
        height: 2.25rem;
        background-color: $primary;
        color: $white;
        border-radius: 0.5rem;
        border: none;
        font-family: Inter;
        font-size: 1rem;
        cursor: pointer;

        &.inactive,
        &:disabled {
            cursor: default;
            background-color: #eaeef4;
            pointer-events: none;
        }
    }

    .dropdown {
        position: relative;
        transition: padding-bottom 0.2s ease;

        .info {
            background: none;
            font-size: 1rem;
            width: 100%;
            outline: none;
            font-family: Inter;
            height: 2.75rem;
            padding: 0rem 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #dbdfe5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #dbdfe5;
            margin-top: 0.25rem;

            &:active {
                background-color: hsl(210, 100%, 98%);
            }
        }

        .list {
            position: absolute;
            height: 0;
            width: 100%;
            border-radius: 0.5rem;
            border: 0px solid #dbdfe5;
            background-color: #fff;
            overflow: hidden;
            z-index: 1;
            width: 17.5rem;

            &.active {
                border-width: 1px;
                height: auto;
                padding: 0.5rem 0;
            }

            & > div {
                padding: 0.5rem;
                cursor: pointer;
            }

            & > div:hover {
                background-color: #dbdfe5;
            }
        }
    }

    .select {
        display: flex;
        gap: 0.25rem 0.5rem;
        flex-wrap: wrap;

        .info {
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            user-select: none;

            div {
                font-size: 0.75rem;
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            .checkbox {
                background-color: #dbdfe5;
                border-radius: 0.25rem;
                height: 0.75rem;
                width: 0.75rem;
                transition: 0.25s ease-out;
            }
            .checkbox.checked {
                transition: 0.25s ease-out;
                background-color: $primary;
            }
        }

        .item {
            font-size: 0.75rem;
            background-color: #dbdfe5;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            cursor: pointer;
        }

        .selected {
            background-color: $primary;
            color: $white;
        }
    }

    .listSelect {
        ul {
            &.add li.selected {
                opacity: 1;
                .name {
                    color: $primary;
                }
            }

            &.remove li.selected {
                opacity: 1;
                .name {
                    color: $negative;
                }
            }
            & > li {
                border-bottom: 1px solid rgb(219, 219, 219);
                padding: 0.25rem 0.5rem;
                margin-bottom: 0.25rem;
                color: rgba(0, 0, 0, 0.5);
                border-radius: 0.25rem;
                border: 1px solid #00000000;
                font-size: 0.75rem;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                opacity: 0.5;

                .name {
                    color: #000;
                    font-size: 1rem;
                }

                .cross {
                    opacity: 0;
                    height: 1rem;
                    width: 1rem;

                    path {
                        stroke: #000;
                    }
                }

                .plus {
                    opacity: 0;
                    height: 1rem;
                    width: 1rem;

                    path {
                        fill: #000;
                    }
                }

                &:hover {
                    opacity: 1;
                    border-color: #00000044;
                    .plus,
                    .cross {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
