@import "./root";

.container {
	padding: 1.25rem 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.resource {
	padding: 0.5rem 1rem;
	font-weight: 700;
	font-size: 1.25rem;
	text-decoration: none;
	background: #fff;
	border-radius: 0.5rem;
	color: $gunmetal;
}
