@import "../../styles/root";

.node {
	padding: 0rem;
	background-color: $white;
	border-radius: 0.75rem;
	flex-basis: 100%;
	color: $gunmetal;
	padding: 0.25rem;

	.nodeTitle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.125rem;
	}
}

.steps {
	background-color: #eaeef4;
	padding: 0.5rem 0.25rem 0.25rem;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;

	thead {
		background-color: #eaeef4;
		padding: 0;

		th {
			display: flex;
			font-weight: 500;
		}
	}

	tbody {
		background-color: $white;
		border-radius: 0.5rem;

		td {
			display: flex;
			align-items: center;
			padding: 0.25rem 0;
		}
	}

	tr {
		display: grid;
		grid-template-columns: 1fr 1fr 3fr 1fr 3fr 1fr 2fr;
		border-bottom: 1px solid #eaeef4;
		font-size: 0.875rem;

		& > td {
			display: flex;
			&:last-child {
				justify-content: flex-end;
				padding-right: 0.25rem;
				font-weight: 500;
			}
		}

		.edit {
			color: $primary;

			&.active {
				background-color: $primary;
			}
		}

		.delete {
			color: rgb(192, 31, 50);

			&.active {
				background-color: rgb(192, 31, 50);
			}
		}

		.edit,
		.delete {
			padding: 0.25rem 0.5rem;
			border-radius: 0.25rem;
			cursor: pointer;
			font-weight: 500;

			transition: all 0.25s ease;

			&:hover {
				text-decoration: underline;
			}

			&.active {
				text-decoration: none;
				color: $white;
			}
		}
	}
}
