<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />

    <rewrite>
      <rules>
        <rule name="Exclude API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="None" />
        </rule>
        <rule name="Exclude SignalR" stopProcessing="true">
          <match url="^userhub(.*)" />
          <action type="None" />
        </rule>
        <rule name="Exclude Next Assets" stopProcessing="true">
          <match url="^_next/(.*)" />
          <action type="None" />
        </rule>
        <rule name="Exclude Assets" stopProcessing="true">
          <match url="^assets/(.*)" />
          <action type="None" />
        </rule>

        <!-- List pages (avoid 403 when a same-name folder exists, e.g. /projects/) -->
        <rule name="Projects List" stopProcessing="true">
          <match url="^projects/?$" />
          <action type="Rewrite" url="projects.html" />
        </rule>
        <rule name="Tasks List" stopProcessing="true">
          <match url="^tasks/?$" />
          <action type="Rewrite" url="tasks.html" />
        </rule>
        <rule name="Subjects List" stopProcessing="true">
          <match url="^subjects/?$" />
          <action type="Rewrite" url="subjects.html" />
        </rule>
        <rule name="Sprints List" stopProcessing="true">
          <match url="^sprints/?$" />
          <action type="Rewrite" url="sprints.html" />
        </rule>
        <rule name="Schemas List" stopProcessing="true">
          <match url="^schemas/?$" />
          <action type="Rewrite" url="schemas.html" />
        </rule>
        <rule name="Summaries List" stopProcessing="true">
          <match url="^summaries/?$" />
          <action type="Rewrite" url="summaries.html" />
        </rule>
        <rule name="Project Overview List" stopProcessing="true">
          <match url="^project-overview/?$" />
          <action type="Rewrite" url="project-overview.html" />
        </rule>

        <!-- Projects curriculum -->
        <rule name="Projects Term Route" stopProcessing="true">
          <match url="^projects/([0-9]+)/years/([0-9]+)/terms/([0-9]+)/?$" />
          <action type="Rewrite" url="projects/%5BrootProjectId%5D/years/%5ByearId%5D/terms/%5BtermId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Projects Year Route" stopProcessing="true">
          <match url="^projects/([0-9]+)/years/([0-9]+)/?$" />
          <action type="Rewrite" url="projects/%5BrootProjectId%5D/years/%5ByearId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Projects Root Route" stopProcessing="true">
          <match url="^projects/([0-9]+)/?$" />
          <action type="Rewrite" url="projects/%5BrootProjectId%5D.html" appendQueryString="true" />
        </rule>

        <!-- Tasks browse curriculum -->
        <rule name="Tasks Browse Term Route" stopProcessing="true">
          <match url="^tasks/browse/([0-9]+)/years/([0-9]+)/terms/([0-9]+)/?$" />
          <action type="Rewrite" url="tasks/browse/%5BrootProjectId%5D/years/%5ByearId%5D/terms/%5BtermId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Browse Year Route" stopProcessing="true">
          <match url="^tasks/browse/([0-9]+)/years/([0-9]+)/?$" />
          <action type="Rewrite" url="tasks/browse/%5BrootProjectId%5D/years/%5ByearId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Browse Root Route" stopProcessing="true">
          <match url="^tasks/browse/([0-9]+)/?$" />
          <action type="Rewrite" url="tasks/browse/%5BrootProjectId%5D.html" appendQueryString="true" />
        </rule>

        <!-- Subjects -->
        <rule name="Subjects Charts Route" stopProcessing="true">
          <match url="^subjects/charts/([0-9]+)/?$" />
          <action type="Rewrite" url="subjects/charts/%5BsubjectChartId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Subjects Route" stopProcessing="true">
          <match url="^subjects/([0-9]+)/?$" />
          <action type="Rewrite" url="subjects/%5BsubjectId%5D.html" appendQueryString="true" />
        </rule>

        <!-- Sprints -->
        <rule name="Sprints LO Board Route" stopProcessing="true">
          <match url="^sprints/([0-9]+)/([0-9]+)/board/?$" />
          <action type="Rewrite" url="sprints/%5BsprintId%5D/%5BlearningObjectId%5D/board.html" appendQueryString="true" />
        </rule>
        <rule name="Sprints LO Sheet Route" stopProcessing="true">
          <match url="^sprints/([0-9]+)/([0-9]+)/sheet/?$" />
          <action type="Rewrite" url="sprints/%5BsprintId%5D/%5BlearningObjectId%5D/sheet.html" appendQueryString="true" />
        </rule>
        <rule name="Sprints LO Route" stopProcessing="true">
          <match url="^sprints/([0-9]+)/([0-9]+)/?$" />
          <action type="Rewrite" url="sprints/%5BsprintId%5D/%5BlearningObjectId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Sprints Charts Overview Route" stopProcessing="true">
          <match url="^sprints/charts/([0-9]+)/overview/?$" />
          <action type="Rewrite" url="sprints/charts/%5BsprintChartId%5D/overview.html" appendQueryString="true" />
        </rule>
        <rule name="Sprints Charts Tags Route" stopProcessing="true">
          <match url="^sprints/charts/([0-9]+)/tags/?$" />
          <action type="Rewrite" url="sprints/charts/%5BsprintChartId%5D/tags.html" appendQueryString="true" />
        </rule>
        <rule name="Sprints Charts Route" stopProcessing="true">
          <match url="^sprints/charts/([0-9]+)/?$" />
          <action type="Rewrite" url="sprints/charts/%5BsprintChartId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Sprints Route" stopProcessing="true">
          <match url="^sprints/([0-9]+)/?$" />
          <action type="Rewrite" url="sprints/%5BsprintId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Project Overview Route" stopProcessing="true">
          <match url="^project-overview/([0-9]+)/?$" />
          <action type="Rewrite" url="project-overview/%5BprojectId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Tasks Sprint Board Route" stopProcessing="true">
          <match url="^tasks/sprint/([0-9]+)/board/?$" />
          <action type="Rewrite" url="tasks/sprint/%5BsprintId%5D/board.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Sprint Sheet Route" stopProcessing="true">
          <match url="^tasks/sprint/([0-9]+)/sheet/?$" />
          <action type="Rewrite" url="tasks/sprint/%5BsprintId%5D/sheet.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Sprint Route" stopProcessing="true">
          <match url="^tasks/sprint/([0-9]+)/?$" />
          <action type="Rewrite" url="tasks/sprint/%5BsprintId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Tasks Charts Overview Route" stopProcessing="true">
          <match url="^tasks/charts/([0-9]+)/overview/?$" />
          <action type="Rewrite" url="tasks/charts/%5BprojectChartId%5D/overview.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Charts Route" stopProcessing="true">
          <match url="^tasks/charts/([0-9]+)/?$" />
          <action type="Rewrite" url="tasks/charts/%5BprojectChartId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Tasks Board Route" stopProcessing="true">
          <match url="^tasks/([0-9]+)/board/?$" />
          <action type="Rewrite" url="tasks/%5BprojectId%5D/board.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Sheet Route" stopProcessing="true">
          <match url="^tasks/([0-9]+)/sheet/?$" />
          <action type="Rewrite" url="tasks/%5BprojectId%5D/sheet.html" appendQueryString="true" />
        </rule>
        <rule name="Tasks Route" stopProcessing="true">
          <match url="^tasks/([0-9]+)/?$" />
          <action type="Rewrite" url="tasks/%5BprojectId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Schemas Route" stopProcessing="true">
          <match url="^schemas/([0-9]+)/?$" />
          <action type="Rewrite" url="schemas/%5BschemaId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Summaries Route" stopProcessing="true">
          <match url="^summaries/([0-9]+)/?$" />
          <action type="Rewrite" url="summaries/%5BprojectId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Calendar Vacancy Route" stopProcessing="true">
          <match url="^calendar/vacancy/([0-9]+)/?$" />
          <action type="Rewrite" url="calendar/vacancy/%5BcalendarId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Calendar Permission Route" stopProcessing="true">
          <match url="^calendar/permission/([0-9]+)/?$" />
          <action type="Rewrite" url="calendar/permission/%5BcalendarId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Calendar WorkFromHome Route" stopProcessing="true">
          <match url="^calendar/workFromHome/([0-9]+)/?$" />
          <action type="Rewrite" url="calendar/workFromHome/%5BcalendarId%5D.html" appendQueryString="true" />
        </rule>

        <rule name="Resources Users Route" stopProcessing="true">
          <match url="^resources/users/([0-9]+)/?$" />
          <action type="Rewrite" url="resources/users/%5BuserId%5D.html" appendQueryString="true" />
        </rule>
        <rule name="Resources Sections Route" stopProcessing="true">
          <match url="^resources/sections/([0-9]+)/?$" />
          <action type="Rewrite" url="resources/sections/%5BsectionId%5D.html" appendQueryString="true" />
        </rule>

        <!-- Home and other static pages -->
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
