.loader {
	padding: 1rem;
	border: 2px solid rgb(100, 116, 139);
	border-bottom: 2px solid #00000000;
	border-radius: 9999px;
	animation: rotate 800ms linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}




/* loading.module.css */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust size as needed */
  gap: var(--gap);
  height: 100px; /* Adjust size as needed */
}

.loading span {
  width: 4px; /* Width of each bar */
  height: 50px; /* Max height of bars */
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: calc(var(--speed-of-animation) * -0.8); /* Using calc with CSS variables */
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: calc(var(--speed-of-animation) * -0.7);
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: calc(var(--speed-of-animation) * -0.6);
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: calc(var(--speed-of-animation) * -0.5);
}

@keyframes scale {
  0%, 40%, 100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

